@{
    ViewBag.Title = "Reset Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div id="message">
    <p>@ViewBag.Message</p>
</div>

<input id="back-to-login-user-button" type="button" value="Back to login" onclick="location.href='@Url.Action("Login")'" class="ui-button ui-widget ui-state-default ui-corner-all"/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}