@model ClientViewModel
<td class="label-col-medium">@Html.DisplayFor(model => model.Data.CompanyName)</td>
<td class="label-col-medium">@Html.DisplayFor(model => model.Data.SAPNumber)</td>
<td class="label-col-medium">@Html.DisplayFor(model => model.Data.Telephone)</td>