@inherits WebViewPage<dynamic>
<div id="partialViewDialog" class="ui-widget">
    <div id="partialViewDialogData"></div>
    
    <div id="partialViewDialogLoading" style="display: none">
        <img src="/Content/Images/sending_sms.gif" alt="Loading.." style="float: left; padding: 10px;" />
        <h3 id="partialViewDialogLoadingTitle">Saving In Progress</h3>
        <p id="partialViewDialogLoadingBody">The data is being saved, if there are any validations errors in the data you will be asked to fix them before the item can be saved.</p>
    </div>
</div>
<div id="partialViewDataTarget" style="display:none"></div>