<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\;User id=sa;Password=!qm4dm!n;Initial Catalog=nw;" providerName="System.Data.SqlClient" />
    <add name="EstatesManagement" connectionString="data source=.\;User id=sa;Password=!qm4dm!n;Initial Catalog=estatesman-nw;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>