.report table
{
    border-collapse: collapse;
    margin-bottom: 1em;
    width: 100%;
}
.report table td, .report table th
{
    border: solid 1px silver;
}
.report table th
{
    text-align: center;
}

.report table tr:hover td
{
    background-color: silver;
}

.ui-widget table tr:hover td
{
    background-color: white;
}

.report div table td
{
    border-width: 0px;
}

.reportcriteria table
{
    width: 50%;
}
.reportcriteria caption
{
    font-weight: bold;
    text-align: left;
}
.report-loader
{
    position: relative;
    width: 400px;
    height: 100px;
}

/* tables */
table.tablesorter {
    /*font-family:arial;*/
    background-color: #CDCDCD;
    /*margin:10px 0pt 15px;*/
    /*font-size: 8pt;*/
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    /*border: 1px solid #FFF;*/
    /*font-size: 8pt;*/
    /*padding: 4px;*/
}
table.tablesorter thead tr .header {
    background-image: url('../Images/bg.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    /*padding: 4px;*/
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url('../Images/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
    background-image: url('../Images/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
